<GridLayout rows="*,200,auto">
    <ScrollView row="0" *ngIf="orderCart.orderData.length > 0">
        <StackLayout>
            <GridLayout rows="auto" columns="100,*,40" class="cart-detail-container" *ngFor="let product of orderCart.orderData; let i = index">
                <Image src="~/assets/img/product/{{product.productName}}.jpg" rowSpan="2" row="0" col="0"></Image>
                <StackLayout col="1" class="cart-food-detail-container">
                    <Label text="{{product.productName}}" textWrap="true" class="h4 cart-food-detail-label-bold"></Label>
                    <Label text="Price: Php{{product.productPrice}}.00   Qty: {{product.piecesToOrder}}"class="h5"></Label>
                </StackLayout>
                <Button text="&#xf2ed;" col="2" (tap)="removeFromCart(i)" class="fa remove-from-cart"></Button>
            </GridLayout>
        </StackLayout>
    </ScrollView>
    <GridLayout row="1" rows="auto" columns="auto,*,125" class="total-amount-container" verticalAlign="bottom" *ngIf="orderCart.orderData.length > 0">
        <Label text="Total:" col="0" textWrap="true" class="h4 cart-food-detail-label-bold cart-total-amount-position cart-total-amount-label"></Label>
        <Label text="Php{{orderCart.totalAmountPayable}}.00" col="1" textWrap="true" class="h3 cart-food-detail-label-bold cart-total-amount cart-total-amount-position"></Label>
        <Button text="CHECK-OUT" (tap)="checkOut()" col="2" class="fa btn btn-primary proceed-btn cart-check-out"></Button>
    </GridLayout>
    <Label rowSpan="3" text="&#xf07a;" *ngIf="orderCart.totalAmountPayable == 0" class="fa cart-empty cart-empty-icon" textWrap="true"></Label>
    <Label row="1" text="YOUR CART IS EMPTY" *ngIf="orderCart.totalAmountPayable == 0" class="h4 cart-empty " textWrap="true"></Label>
    <Button row="2" text="Back to Food Menu" (tap)="backToFoodMenu()" class="btn btn-primary proceed-btn" textWrap="true"></Button>
</GridLayout>