.total-amount-container {
    border-top-width: 1;
    border-top-color: #888888;
    vertical-align: bottom;
}

.cart-food-detail-container {
    margin: 5 0 5 10; 
}

.cart-food-detail-label-bold {
    font-weight: bold;
}

.cart-total-amount {
    margin-right: 2;
}

.cart-total-amount-label {
    margin-left: 3;
}

.cart-total-amount-position {
    vertical-align: center;
    horizontal-align: right;
}

.cart-check-out {
    font-size: 17;
    padding-top: 5;
    padding-bottom: 5;
    margin: 0 0 0 0;
}

.cart-detail-container {
    margin-bottom: 2;
}

.cart-empty-icon {
    font-size: 80;
    vertical-align: center;
}

.cart-empty {
    color: #888888;
    horizontal-align: center;
}

.remove-from-cart {
    font-size: 20;
    color: #4d4d4d;
    border-width: 1;
    border-color: transparent;
    background: transparent;
    padding: 4 4 8 4;
}