<!-- <page-router-outlet *ngIf="isGuestMode"></page-router-outlet> -->
<RadSideDrawer tkExampleTitle tkToggleNavButton (drawerClosing)="onDrawerClosed()" (drawerOpened)="changeStatusBarColor('#707070')">
    <StackLayout tkDrawerContent class="sideStackLayout">
        <Image src="~/assets/img/logos/RiceToppers_Logo_White.png" class="sidedrawer-title-image"></Image>
        <Label text="Hi, {{isRegisteredUser ? 'Bryan' : 'Guest'}}" textWrap="true" class="sidedrawer-user-greeting"
            *ngIf="isRegisteredUser"></Label>
        <ScrollView>
            <StackLayout *ngIf="isRegisteredUser">
                <GridLayout columns="auto, *" (tap)="onHome()">
                    <Button text="&#xf015;" col="0" class="fa sidedrawer-button-icon"></Button>
                    <Label text="Home" col="1" textWrap="true" class="sidedrawer-button"></Label>
                </GridLayout>
                <GridLayout columns="auto, *" (tap)="onAccountSettings()">
                    <Button text="&#xf4fe;" col="0" class="fa sidedrawer-button-icon"></Button>
                    <Label text="Account Settings" col="1" textWrap="true" class="sidedrawer-button"></Label>
                </GridLayout>
                <GridLayout columns="auto, *">
                    <Button text="&#xf022;" col="0" class="fa sidedrawer-button-icon"></Button>
                    <Label text="Order History" col="1" textWrap="true" class="sidedrawer-button"></Label>
                </GridLayout>
                <GridLayout columns="auto, *" (tap)="onSignOut()">
                    <Button text="&#xf2f5;" col="0" class="fa sidedrawer-button-icon"></Button>
                    <Label text="Sign-out" col="1" textWrap="true" class="sidedrawer-button"></Label>
                </GridLayout>
            </StackLayout>
            <StackLayout *ngIf="!isRegisteredUser">
                <GridLayout columns="auto, *">
                    <Button text="&#xf234;" col="0" class="fa sidedrawer-button-icon"></Button>
                    <Label text="Sign-up" col="1" textWrap="true" class="sidedrawer-button"></Label>
                </GridLayout>
                <GridLayout columns="auto, *" (tap)="onSignIn()">
                    <Button text="&#xf2f6;" col="0" class="fa sidedrawer-button-icon"></Button>
                    <Label text="Sign-in" col="1" textWrap="true" class="sidedrawer-button"></Label>
                </GridLayout>
            </StackLayout>
        </ScrollView>
    </StackLayout>
    <GridLayout row="*, auto, *" tkMainContent>
        <StackLayout row="0" rowSpan="3" class="main-content-wrapper">
            <app-header *ngIf="!isOnLoginPage"></app-header>
            <router-outlet></router-outlet>
        </StackLayout>
        <StackLayout *ngIf="isLoading" row="0" rowSpan="3" class="activity-indicator-wrapper">
            <ActivityIndicator #activityIndicator [busy]="isLoading" class="activity-indicator"></ActivityIndicator>
        </StackLayout>
    </GridLayout>
</RadSideDrawer>