.switch {
    horizontal-align: center;
}
.food-menu-list-header {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
Label {
    vertical-align: middle;
    color: #000000;
}
.food-item {
    font-size: 20px;
}
.btn {
    font-weight: bold;
    font-size: 18px;
    min-height: 50px;
}