<ActionBar title="Food Outlet" icon="" class="action-bar"></ActionBar>
<GridLayout rows="*,auto">
    <GridLayout row="0" rows="auto,*" style="margin: 15 30 0 30;">
        <GridLayout row="0" columns="*,125">
            <Label text="Food Name" class="food-menu-list-header" horizontalAlignment="left" col="0" textWrap="true"></Label>
            <Label text="Food Availability" class="food-menu-list-header" col="1" textWrap="true"></Label>
        </GridLayout>
        <ScrollView row="1">
            <StackLayout>
                <GridLayout columns="*,125" *ngFor="let foodItem of foodMenuArray; let i = index;">
                    <Label text="{{foodItem.fN}}" class="food-item" col="0" textWrap="true"></Label>
                    <Switch [checked]="foodItem.iA" class="switch" col="1" (checkedChange)="toggleAvailability(i, $event)"></Switch>
                </GridLayout>
            </StackLayout>
        </ScrollView>
    </GridLayout>
    <StackLayout row="1" style="margin: 0 10 0 10">
        <Label text="The switches for the food availability automatically updates the realtime db." class="h5 bold" textWrap="true"></Label>
        <!-- <Button text="Update Menu Availability" (tap)="updateFoodMenu()" class="btn btn-primary"></Button> -->
        <!-- <Button text="Add New Menu" (tap)="updateFoodMenu()" class="btn btn-primary"></Button> -->
    </StackLayout>
</GridLayout>