
.ng-valid[required] {
    padding: 3 0 3 3;
    border-color: #ff9900;
    border-width: 2;
    border-left-width: 2;
    border-radius: 5;
    color: #000000;
}

.ng-pristine.ng-invalid,
.ng-dirty.ng-invalid {
    color: #ff9900;
    padding: 3 0 3 3;
    border-width: 2;
    border-color: #f39237;
    border-left-width: 5;
    border-radius: 5;
}